package views

import (
	"fmt"
)

templ Hello(name string) {
	{{ greet := fmt.Sprintf("Hello, %s!", name) }}

	<div>
		<img src="./static/image/hyperchan_s.png" alt="hyperchan Logo">
	</div>
	<div>
		<marquee><h1>{ greet }</h1></marquee>
	</div>
}
